* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url(Water.jpeg);
    filter: blur(8px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-left: 1rem;
}

.img-div-1 {
    padding-top: 13rem;
    padding-left: 0.5rem;
}

.img-div-3 {
    padding-top: 58%;
}

.img-div-3 img {
    border-radius: 100%;
}

.floating-img img {
    filter: drop-shadow(3px -19px 6px);
}

.card-body.position-absolute {
    padding-top: 10rem;
}

.card-body.random-class {
    padding-top: 3rem;
}

.cut-image {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 60%, 0% 100%, 0% 100%);
    filter: blur(2px);
}

.img-div {
    padding-top: 9rem;
}

i {
    font-size: 1.5rem;
}

.card-img {
    width: 20% !important;
}